body {
  overflow-anchor: none;
}

#masthead-container:has(ytd-masthead[theater]) {
  position: absolute !important;
}

ytd-watch-flexy[theater] #player-full-bleed-container.ytd-watch-flexy,
ytd-watch-grid[theater] #player-full-bleed-container.ytd-watch-grid {
  height: 100vh !important;
  min-height: 100vh !important;
  max-height: 100vh !important;
}

ytd-watch-flexy[theater] #full-bleed-container.ytd-watch-flexy,
ytd-watch-grid[theater] #full-bleed-container.ytd-watch-grid {
  block-size: fit-content !important;
  max-height: fit-content !important;
}

ytd-live-chat-frame[theater-watch-while] {
  top: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
